<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- style phần header -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
  </head>
  <body>

  <!-- header -->
  <!-- thanh dieu huong -->
    <nav class="navbar navbar-fixed-top">
      <div class="content-padding">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" style="color: black;">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"style="color: black;"> Movies <i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <% for (var i = 1; i <= movies.length; i++) { %>
              <li>
                <a href="/Phim/<%= i %>" class="episode_link"><%= movies[i - 1].title %></a>
              </li>
              <% } %>	
            </ul> 
          </li> 
        </ul>
      </div>
    </nav>

    <!-- thanh tim kiem -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">MePhim.com</a>
        </div>
      </div>
    </nav>

    <div class="container">
    	<div class="jumbotron">
	    	<h3 class="text-center" style="color: black;">Tìm Kiếm</h3>
	    	<form id="searchForm">
	    		<input type="text" class="form-control" id="searchText" placeholder="Tìm Phim...">
	    	</form>
	    </div>
    </div>

    <div class="container">
      <div id="movies" class="row"></div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/main.js"></script>




    <!-- <div id="hero-image">
      <h1 id="hero-title">MEPHIM.COM</h1>
    </div> -->

    <div id="body-navbar" >
    <select id="url" onchange="urlHandler(this.value)">
        <option disabled selected value>THỂ LOẠI</option>
        <option value="/theLoai/1">HÀNH ĐỘNG</option>
        <option value="/theLoai/2">HOẠT HÌNH</option>
        <option value="/theLoai/3">HÀI HƯỚC</option>
    </select>
    </div>

 
    <div id="sidebar-wrapper" >
      <h3 style="font-weight: 700" >Top phim hay</h3>
      
      <% for (var i = 8; i >= 2 ; i -= 3) { %>
        <div class="sidebar-poster">
          <a href="/Phim/<%= movies[i].maPhim %>">
  
            <img src="/images/<%= movies[i].poster %>" class="img-responsive">
  
            <div class="poster-info-overlay">
              <h3><%= movies[i].title %></h3>
              <h4>Click xem chi tiết-> <i class="fa fa-arrow-right"></i></h4>
            </div>
  
          </a>
  
        </div>	  
      <% } %>
      </div>	   



    <!-- poster -->
    <div id="posters-wrapper" class="content-padding-poster" >

        <% for (var i = 7; i > 4; i -= 2) { %>
        <div class="poster">
  
          <a href="/Phim/<%= movies[i].maPhim %>">
  
            <img src="/images/<%= movies[i].poster %>" class="img-responsive">
  
            <div class="poster-info-overlay">
              <h3><%= movies[i].title %></h3>
              <h4>Click xem chi tiết-> <i class="fa fa-arrow-right"></i></h4>
            </div>
  
          </a>
  
        </div>	  
      <% } %>
    </div>

    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
    crossorigin="anonymous"></script>
    <script>      
    function urlHandler(value) {                               
        window.location.assign(`${value}`);
    }</script>


  </body>

  <!-- footer -->
  <footer>
    <div class="content-padding">
      <div class="footer-content">
        <p>Thông tin liên lạc &copy; phanhung16299gmail.com</p>
      </div>
    </div>
  </footer>

</html>